{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signin</title>
</head>
<body>
{% block content %}
<h1 class="text-center">Login page</h1>
<form method="POST" class="w-50 m-auto border rounded p-3 mt-5">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <div>
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary mt-3") }}
</form>
{% endblock %}

</body>
</html>